body, html {
  background-color: white;
  margin: 0px; 
}

.btn{
        border: none;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    font-weight: 600;
}

.select-btn
{
	border: none;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border:1px solid black;
    background-color: white;
}

.btn-default
{
	background-color: white; 
	color: black;
}

.btn-default:hover
{	
	background-color: rgb(238, 238, 238); 
}

.btn-default:active
{
	background-color: rgb(211,211,211);
}

.btn-green 
{
	background-color: #4CAF50;
}

.btn-green:hover
{
	background-color: #4CB550; 
}

.btn-green:active
{
	background-color: #50A653;
}

.btn-red 
{
	background-color: #E83C3C;
}

.btn-red:hover
{
	background-color: #EA4A4A; 
}

.btn-red:active
{
	background-color: #D62C2C;
}

/*style input box*/
input[type="text"] {
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/*check input boxi, use 'css-checkbox' inside of input checkbox as class*/
input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:24px;
	height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:17px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -17px;
}

/*use class 'css-label' inside of label*/
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_6de93f3dd0a8cd78b0f2526c1bc6e0f7.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.main {
	margin-top: 70px;
	height: 100%;
}

table#bookmarks {
    width: 80%;
    border-collapse: collapse;
}

td.bookmark-check-box {
	height: 20px;
	padding: 20px 20px 10px 20px;
}

tr.bookmark-item td.bookmark-buttons {
	height: 30px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr.bookmark-item td.bookmark-title {
	width: 500px;
	height: 30px;
    padding: 20px 20px 10px 20px; 
    text-align: left;
    border-bottom: 1px solid #ddd;
}

div.folders {
	float:left;
	width: 200px;
	height: 100%;
	background-color: whitesmoke; 
	padding: 10px;
}

div.bookmark-items {

}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.align-icon
{
	vertical-align: middle;
    padding-left: 8px;
}

button img
{
	height: 25px; 
}